<!DOCTYPE html>
<html ng-app="notice">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>전문 프로그래머들을 위한 프로그래밍 강좌 사이트 www.newlecture.com</title>
    <link href="../css/customer/layout.css" rel="stylesheet" />
    <link href="../css/customer/notice.css" rel="stylesheet" type="text/css" />
    
    <style>
		@keyframes notice-show{
			from{
				height:2px;
				opacity:0;
			}
			50%{
				height:397px;
				opacity:0;
			}
			to{
				height:397px;
				opacity:1;
			}
		}
		@keyframes notice-hide{
			from{
				height:397px;
				opacity:1;
			}
			50%{
				height:397px;
				opacity:0;
			}
			to{
				height:2px;
				opacity:0;
			}
		}   
		
		/*내가 정의된 클래스 명을 이용한 애니매이션*/
		.notice-reg.on{
			animation:notice-show 1s linear;
	    }
	    	
    	.notice-reg.off{
    		animation:notice-hide 1s linear;
    	}  
    	
    	/*미리 정의된 클래스 명을 이용한 애니매이션 */
    	/* .notice-reg{
				animation:notice-show 1s linear;
	    	}
	    	
    	.notice-reg.ng-hide{
    		animation:notice-hide 1s linear;
    	}  */
     
   		 /* 공지사항 등록 애니메이션을 위한 스타일 */
    	/* .notice-reg{
    		transition:all 1s linear;
    		opacity:1;
    	} */
    	
    	.notice-reg.ng-hide{
    		opacity:0;
    	}
    
    	/* 공지사항 목록 애니메이션을 위한 스타일 */
    	.board-list .ng-enter
    	{
    		transition:all 2s linear;
    		opacity:0;
    	}
    	
    	.board-list .ng-enter-stagger
    	{
    		transition-delay: 0.1s;
    		transition-duration: 0s;
    	}
    	
    	.board-list .ng-enter-active{
    	opacity:1;
    	}
    </style>
    
    <script src="/Content/js/extensions.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"/></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>  
    <script src="../controllers/notice-controller.js"></script>

</head>
<body ng-controller="notice-controller">
    <header id="header">
        <div class="content-container">
            <!-- 헤더부분 -->

            <h1 id="logo"><a class="btn btn-notext btn-logo" href="/">뉴렉처 온라인</a></h1>
            <section class="header-item-container">
                <h1 class="hidden">머리말</h1>
                <nav id="main-menu">
                    <h1 class="hidden">메인메뉴</h1>
                    <ul class="clearfix">
                        <li><a href="">학습가이드</a></li>
                        <li><a href="">뉴렉과정</a></li>
                        <li><a href="">강좌선택</a></li>
                    </ul>
                </nav>

                <section id="lecture-search">
                    <h1 class="hidden">강좌검색</h1>
                    <form action="">
                        <fieldset>
                            <legend class="hidden">강좌 검색 필드</legend>
                            <label>강좌명</label>
                            <input type="text" />
                            <input type="submit" value="검색" />
                        </fieldset>
                    </form>
                </section>

                <nav id="joinus-menu">
                    <h1 class="hidden">가입메뉴</h1>
                    <ul class="clearfix">
                        <li class="member-menu-item"><a class="member-menu-item-text" href="/">HOME</a></li>
                        <li class="member-menu-item">
                            <a class="member-menu-item-text" href="/account/login">로그인</a>
                        </li>
                        <li class="member-menu-item"><a class="member-menu-item-text" href="/Account/Register">회원가입</a></li>
                    </ul>
                </nav>

                <nav id="member-menu">
                    <h1 class="hidden">회원메뉴</h1>
                    <ul class="clearfix">
                        <li><a class="btn btn-notext btn-mypage" href="">마이페이지</a></li>
                        <li><a class="btn btn-notext btn-customer" href="">고객센터</a></li>
                    </ul>
                </nav>
            </section>

        </div>
    </header>
    <div id="visual">
        <div class="content-container">
            <div>
            </div>
            <div>

            </div>
        </div>
    </div>
    <main>
        <div class="content-container">
            <aside id="aside">
                <!-- 헤더부분 -->
                <h1 class="aside-title">고객센터</h1>

                <nav class="aside-menu aside-menu-first">
                    <h1 class="hidden">고객센터</h1>
                    <ul>
                        <li><a class="current" href="notice">공지사항</a></li>
                        <li><a href="">1:1 고객센터</a></li>
                        <li><a href="">학습안내</a></li>
                    </ul>
                </nav>

                <nav class="recommend-sites">
                    <h1>추천사이트</h1>
                    <ul>
                        <li><a href=""><img src="../images/answeris.png" /></a></li>
                        <li><a href=""><img src="../images/w3c.png" /></a></li>
                        <li><a href=""><img src="../images/microsoft.png" /></a></li>
                    </ul>
                </nav>
            </aside>
            <div id="body">
                <h2 class="main-body-title-top">공지사항</h2>

                <div class="breadcrumb">
                    <h3 class="hidden">현재경로</h3>
                    <ol>
                        <li class="breadcrumb-item">home</li>
                        <li class="breadcrumb-item">고객센터</li>
                        <li class="breadcrumb-item">공지사항</li>
                    </ol>
                </div>

                <div class="notice-reg" ng-class="{on:noticeRegVisible, off:!noticeRegVisible}" ng-show="noticeRegVisible">
                    <h3 class="hidden">공지사항 등록 폼</h3>
                    <form class="main-body-margin-v-top">
                        <fieldset>
                            <legend class="hidden">공지사항 입력 필드</legend>
                            <table class="board board-detail">
                                <tbody>
                                	<tr style="display:none;">
                                        <th >번호</th>
                                        <td ng-bind="regcode"></td>
                                    </tr>
                                	<tr>
                                        <th>작성자</th>
                                        <td ng-bind="writer"></td>
                                    </tr>
                                    <tr>
                                        <th>제목</th>
                                        <!-- ng-model:input과 같은 value값을 바인드 할 때 사용 -->
                                        <td><input type="text" name="title" ng-model="title"/></td>
                                    </tr>
                                    <tr>
                                        <th>내용</th>
                                        <td>
                                            <textarea ng-model="content"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </form>

                    <div class="text-align-center main-body-margin-v">
                        <a href="notice" class="btn btn-default" ng-click="btnWriteClick()">등록하기</a>
                    </div>
                </div>

                <div class="main-body-search main-body-margin-v-top">
                    <h3 class="hidden">공지사항 검색</h3>
                    <div class="main-body-buttons-top">
                  				  <!-- 	ng-bind:innerText로 들어가는 값을 바인드 할 때 사용 -->
                        <a href="" class="btn btn-default" ng-click="toggleNoticeReg()" ng-bind="noticeRegButtonText">글작성하기</a>
                        <a href="" class="btn btn-default" ng-click="btnDelClicked()">삭제</a>
                    </div>
                    <form class="main-body-search" method="get">
                        <fieldset>
                            <legend class="hidden">공지사항 검색 필드</legend>
                            <label class="hidden">분류</label>
                            <select name="f">
                                <option value="None" selected="selected">분류선택</option>
                                <option value="Title">제목</option>
                                <option value="Writer">작성자</option>
                            </select>
                            <label class="hidden">검색어</label>
                            <input type="text" name="q" value="" />
                            <input class="btn btn-notext btn-search" type="submit" value="검색" />
                        </fieldset>
                    </form>
                </div>
                
                <!-- angularJS filter기능 -->
                <div class="main-body-margin-v">
                	가격:{{(12345.6789|number:'':3) + ' 원'}}
                	<!-- 두번째 방법-------- 가격:{{12345.6789|currency:'':3}} 원 -->
                </div>
                <div class="main-body-margin-v">
                	가격:{{123456789|date:"yyyy-MM-dd 'at' h:mma"}}
                </div>

                <h3 class="hidden">공지사항 목록</h3>
                <table class="board board-list main-body-margin-v">
                    <thead>
                        <tr>
                            <th class="col-width-mostnarrow"><input type="checkbox" ng-model="allCheck" ng-click="allCheckClick()"/></th>
                            <th class="col-width-narrow">번호</th>
                            <th>제목</th>
                            <th class="col-width-normal">작성자</th>
                            <th class="col-width-normal">작성일</th>
                            <th class="col-width-mostnarrow">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="n in list">
                            <td class="col-width-mostnarrow"><input type="checkbox" ng-checked="allCheck" ng-model="n.isChecked"/></td>
                            <td class="col-width-narrow" ng-bind="n.code">${n.code}</td>
                            <td class="col-align-left col-indent col-ellipsis"><img ng-src="../images/{{n.img}}"><a href="" ng-bind="n.title|uppercase|limitTo:2">${n.title}</a></td>
                            <td class="col-width-normal" ng-bind="n.writer | uppercase">${n.writer}</td>
                            <td class="col-width-normal" ng-bind="n.regDate | date:'MM/dd/yyyy'">${n.regdate}</td>
                            <td class="col-width-mostnarrow" ng-bind="n.hit | currency">${n.hit}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="page-indexer main-body-margin-v">
                    <h3 class="hidden">목록의 현재 위치</h3>
                    <span><span class="text-highlight">1</span>/1 page</span>
                </div>

                <div class="pager-container main-body-margin-v">
                    <div class="pager">
                        <h3 class="hidden">페이저</h3>

                        <span class="btn btn-notext btn-prev" style="cursor:default;">이전</span>
                        <ul>
                            <li><a href="notice?p=1" class="text-highlight">1</a></li>
                        </ul>
                        <span class="btn btn-notext btn-next" style="cursor:default;">다음</span>

                        <a class="hidden" href="">다음페이지</a>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="content-container">

        </div>
    </footer>
</body>
</html>
